.button {
  background-color: var(--darker2);
  font-size: 16px;
  padding: 7px 10px;
  border-radius: 4px;
}
.button:hover {
  background-color: var(--darker3);
}
.button:active {
  background-color: var(--darker4);
}