@import "input.css";
@import "button.css";

.contentDiv, .contentDiv form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.textInput {
  margin: 7px;
  width: min(250px, 80vw);
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

#dateInput {
  display: inline;
  width: 120px;
  margin: 0 8px;
}

#errorMessage {
  background-color: var(--background);
  text-align: center;
  color: red;
  font-size: 15px;
}

#submitButton {
  margin: 15px 0;
}