@import "input.css";
@import "button.css";

.contentDiv, .contentDiv form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.textInput {
  margin: 7px;
  width: min(250px, 80vw);
}

.textareaInput {
  font-family: monospace;
  border: 1px solid #000 !important;
  border-radius: 7px;
  padding: 7px;
  width: min(500px, 90vw);
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

#dateInput {
  display: inline;
  width: 130px;
  margin: 0 8px;
}

#errorMessage {
  background-color: var(--background);
  text-align: center;
  color: red;
  font-size: 15px;
}

#submitButton {
  margin: 15px 0;
}

table {
  display:block;
  width: 90vw;
  height: 90%;
  overflow-y:scroll;
  margin: 10px;
  border-collapse: separate;
  border-spacing: 0;
  background-color: darkorange;
}
th, td {
  text-align: left;
  padding: 2px 6px;
  border: 0 black solid;
  background-color: darkorange;
}
th {
  position: sticky;
  top: 0;
  font-size: 13px;
  vertical-align: bottom;
  border-bottom: 1px black solid;
}
td {
  vertical-align: top;
}

@media only screen and (min-width: 768px) {
  table {
    width: auto;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
