@import "input.css";
@import "button.css";

.contentDiv, .centeredForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentDiv {
  height: 100%;
}

.contentTitle {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0;
}

.textInput, .dropdownAccordionField {
  margin: 6px;
  width: min(250px, 80vw);
}

.textareaInput {
  font-family: monospace;
  border: 1px solid #666 !important;
  border-radius: 10px !important;
  padding: 7px !important;
  width: min(500px, 90vw);
}

.inputGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

#dateInput {
  display: inline;
  width: 130px;
  margin: 0 8px;
}

.errorMessage {
  background-color: var(--background);
  text-align: center;
  font-size: 15px;
  margin: 10px 0;
}

#submitButton, .submitButton {
  margin: 15px 0 20px 0;
}

table {
  display:block;
  width: auto;
  max-width: calc(100vw - 30px);
  overflow-y: auto;
  overflow-x: auto;
  margin: 0;
  border-spacing: 0;
}
th, td {
  text-align: left;
  padding: 2px 6px;
  margin: 0;
}
th {
  position: sticky;
  top: 0;
  font-size: 12px;
  vertical-align: bottom;
  background-color: var(--darker4) !important;
}
#tableHeaderRow {
  background-color: var(--darker3);
}
tr:nth-child(2n+1) > * {
  vertical-align: top;
  background-color: var(--darker1);
}

::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.accordionPanel {
  overflow: hidden;
  transition: height 0.2s ease-out;
}
.accordionPanelWrapper {
  padding: 0 !important;
}
.visualFixWrapper { /* another wrapper is needed to achieve the desired animation look */
  padding: 2px 6px;
}
.tableAccordionPanel {
  padding: 0;
  max-width: calc(100vw - 52px);
}
.tableAccordionPanel > * {
  overflow-wrap: break-word;
}
.disableSelect {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.formLabel {
  font-weight: bold;
  margin-top: 10px;
  margin-left: 15px;
  margin-right: auto;
}
.disappear {
  display: contents;
}

.radioInput {
/* TODO style */
}
.radioLabel {
  /*margin: 5px 0;*/
  font-size: 15px;
  margin-left: 5px;
  vertical-align:top;
}

.dropdownAccordionPanel {
  margin: 2px 0;
  width: min(270px, 87vw);
}
.longForm {
  overflow-y: scroll;
  width: 100%;
}
#opisInput {
  font-family: inherit;
  width: min(260px, 80vw);
  resize: none;
}

::file-selector-button {
  font-size: 15px;
  border-radius: 8px;
  padding: 3px 7px;
  margin: 2px 5px 2px -7px;
}

.filterButton {
  margin: 4px;
}

.invisibleCheckbox {
  display: none;
}

.compactToggle {
  display: inline-block;
  font-size: 10px;
  font-weight: bold;
  width: 35px;
  text-align: center;
  margin: 0 4px;
}

.smallButton {
  background-color: var(--darker2);
  border-radius: 2px;
  padding: 3px 5px;
  margin: 4px 4px 5px 0;
  transition-duration: 0.1s;
}
.smallButton:hover {
  background-color: var(--darker3);
}
.smallButton:active {
  background-color: var(--darker4);
}

.modal {
  padding: 0;
  border: 0;
  /*incorrect <dialog> size fix*/
  display: none;
  align-items: flex-start;
}
.modalImage {
  max-width: 100%;
  height: auto;
}