.filterSidepanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 75px);
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  overflow-x: hidden;
  transform: translateX(0);
  transform-origin: right;
  transition: transform 0.3s;
}

.filterSidepanelHidden {
  transform: translateX(100%);
}

.filterButton {
  margin-top: 5px;
  margin-bottom: 12px;
}

.filterAccordionButton {
  display: block;
  font-size: 15px;
  background-color: var(--darker2);
  border-radius: 15px;
  padding: 5px 14px;
  outline: none;
  margin: 6px;
  width: min(250px, 80vw);
}
.filterAccordionButton:hover {
  background-color: var(--darker3);
}
.filterAccordionButton:active {
  background-color: var(--darker4);
}