#navbar {
    display: flex;
    justify-content: right;
    align-items: center;
}

#navbarButtons {
    position: relative;
    margin-right: 20%;
    display: flex;
    align-items: center;
}

#userPanel {
    margin: 3px 7px;
}

.navbarButton {
    font-weight: bold;
    font-size: 20px;
    padding: 10px 25px;
    transition-duration: 0.1s;
}
.navbarButton:hover {
    background-color: var(--darker1);
}
.navbarButton:active {
    background-color: var(--darker2);
}

#username {
    float: right;
    margin: 2px 4px;
}

.userPanelButton {
    background-color: var(--darker2);
    border-radius: 2px;
    padding: 4px 8px;
    margin: 2px 2px;
    transition-duration: 0.1s;
}
.userPanelButton:hover {
    background-color: var(--darker3);
}
.userPanelButton:active {
    background-color: var(--darker4);
}

.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownContent {
    position: absolute;
    z-index: 1;
    width: 80%;
    padding: 10%;
    margin: 3px 0;
    border-radius: 8px;
    background-color: var(--darker2); /*TODO design a nice dropdown*/
    animation: growDown 150ms ease-in-out forwards;
    transform-origin: top center
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    100% {
        transform: scaleY(1)
    }
}

.dropdownOption {
    font-size: 15px;
    padding: 3px 6px;
    border-radius: 3px;
    margin: 1px 0;
}