#navbar {
  display: flex;
  align-items: flex-start;
}

.sidepanel {
  display: inline-block;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transform: translateX(0);
  transform-origin: left;
  transition: transform 0.3s;
  background-color: var(--darker2);
  padding: 10px 30px 10px 20px;
}
.hidden {
  transform: translateX(-100%);
}

#sidebarOpenButton {
  margin: 10px;
}
#sidebarCloseButton {
  margin-bottom: 5px;
  padding-left: 0;
  background-color: var(--darker2);
}
#sidebarCloseButton img {
  background-color: var(--darker2);
}

.sidepanelOption {
  display: block;
  white-space: nowrap;
  font-size: 20px;
  padding: 15px 0;
  transition-duration: 0.1s;
  background-color: var(--darker2);
  text-decoration: none;
  color: black;
}
.sidepanelOption:hover, .sidepanelOption:active {
  text-shadow:0 0 1px black;
  /* this is used instead of font-weight:bold in order to prevent buttons from changing in width */
}


#userPanel {
  margin: 3px 7px 3px auto;
}

#username {
  float: right;
  margin: 2px 4px;
}

.userPanelButton {
  background-color: var(--darker2);
  border-radius: 2px;
  padding: 4px 8px;
  margin: 2px 2px;
  transition-duration: 0.1s;
}
.userPanelButton:hover {
  background-color: var(--darker3);
}
.userPanelButton:active {
  background-color: var(--darker4);
}