
html,body,#root {
  height: 100%;
}

p {
  margin: 0;
}

#loginPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#loginBox {
  text-align: center;
  background-color: var(--darker2);
  width: min(70vw, 350px);
  padding: 40px 40px 20px 40px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0,0,0,.1);
}

#loginTitle {
  background-color: var(--darker2);
  font-weight: bold;
  font-size: 25px;
  margin: 0 0 30px;
}

.loginInput {
  width: 90% !important;
  margin: 0 auto 15px auto !important;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--darker2);
}

.loginButtonBig {
  background-color: var(--darker4);
  font-size: 20px;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 4px;
}
.loginButtonBig:hover {
  background-color: var(--darker5);
}
.loginButtonBig:active {
  background-color: var(--darker6);
}

.loginButtonSmall {
  background-color: var(--darker4);
  font-size: 16px;
  padding: 8px 12px;
  margin: 15px 5px;
  margin-bottom: 0;
  border-radius: 4px;
}
.loginButtonSmall:hover {
  background-color: var(--darker5);
}
.loginButtonSmall:active {
  background-color: var(--darker6);
}

.loginErrorMessage {
  text-align: center;
  background-color: var(--darker2);
  color: red;
  font-size: 15px;
  margin: 5px 0;
}
.loginErrorMessage:empty {
  margin: 0 0;
}

.loginSuccessMessage {
  text-align: center;
  background-color: var(--darker2);
  color: limegreen;
  font-size: 15px;
  margin: 5px 0;
}
.loginSuccessMessage:empty {
  margin: 0 0;
}

#sendCodeButton {
  margin-top: 5px;
  margin-bottom: 1.5em;
}

.sendResetCodeMessage {
  margin-top: 0 !important;
}

.pInfo {
  background-color: var(--darker2);
}
.pLink {
  background-color: var(--darker2);
  display: inline;
  cursor: pointer;
  text-decoration: underline;
}
.pInfo, .pLink {
  font-size: 14px;
  width: 100%;
  text-align: left;
  margin: 2px 0;
}