
html,body,#root {
  height: 100%;
}

p {
  margin: 0;
}

#loginPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#loginBox {
  text-align: center;
  background-color: var(--darker2);
  padding: 40px 40px 30px 40px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0,0,0,.1);
}

#loginBox > * {
  background-color: var(--darker2);
}

#loginTitle {
  font-weight: bold;
  font-size: 30px;
  margin: 0 0 30px;
}

.loginInput {
  width: 90%;
  margin: 0 auto 15px auto;
}

#loginButton {
  background-color: var(--darker4);
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 4px;
}
#loginButton:hover {
  background-color: var(--darker5);
}
#loginButton:active {
  background-color: var(--darker6);
}

#loginErrorMessage {
  width: 350px;
  text-align: center;
  background-color: var(--darker2);
  color: red;
  font-size: 15px;
  margin: 5px 0;
}