
html,body,#root {
  height: 100%;
}

p {
  margin: 0;
}

#loginPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

#loginBox {
  text-align: center;
  background-color: var(--darker2);
  width: min(70vw, 350px);
  padding: 40px 40px 30px 40px;
  border-radius: 15px;
  box-shadow: 0 15px 25px rgba(0,0,0,.1);
}

#loginBox > * {
  background-color: var(--darker2);
}

#loginTitle {
  font-weight: bold;
  font-size: 25px;
  margin: 0 0 30px;
}

.loginInput {
  width: 90% !important;
  margin: 0 auto 15px auto !important;
}

#loginButton {
  background-color: var(--darker4);
  font-size: 20px;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 4px;
}
#loginButton:hover {
  background-color: var(--darker5);
}
#loginButton:active {
  background-color: var(--darker6);
}

#loginErrorMessage {
  width: 90%;
  text-align: center;
  background-color: var(--darker2);
  color: red;
  font-size: 15px;
  margin: 0;
}

#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}



.activateInput {
  width: 90%;
  margin: 0 auto 15px auto;
}

#toggleActivate {
  background-color: var(--darker4);
  font-size: 16px;
  padding: 8px 12px;
  margin-top: 15px;
  border-radius: 4px;
}
#toggleActivate:hover {
  background-color: var(--darker5);
}
#toggleActivate:active {
  background-color: var(--darker6);
}
#activateButton {
  background-color: var(--darker4) !important;
  font-size: 20px;
  padding: 8px 12px;
  margin-top: 15px;
  border-radius: 4px;
}
#activateButton:hover {
  background-color: var(--darker5);
}
#activateButton:active {
  background-color: var(--darker6);
}

#activateForm {
  background-color: var(--darker2);
  padding-top: 1em;
}

#activateForm > * {
  background-color: var(--darker2);
}

#activateErrorMessage {
  text-align: center;
  background-color: var(--darker2);
  color: red;
  font-size: 15px;
  margin: 5px 0;
}

#activateSuccessMessage {
  text-align: center;
  background-color: var(--darker2);
  color: limegreen;
  font-size: 15px;
  margin: 5px 0;
}


.goBackButton {
  background-color: var(--darker4) !important;
  font-size: 16px;
  padding: 8px 12px;
  margin-top: 15px;
  border-radius: 4px;
}
.goBackButton:hover {
  background-color: var(--darker5);
}
.goBackButton:active {
  background-color: var(--darker6);
}